@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  color: #000000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.field {
  background-color: #ffe17f;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.search {
  background-color: #ffe17f;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.login-user {
  color: inherit;
  text-decoration: inherit;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.compare-button {
  color: inherit;
  text-decoration: inherit;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.cart-button {
  color: inherit;
  text-decoration: inherit;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.background-heder {
  background-color:#ffe17f
}

.button-more {
  background-color:#ffe17f
}

.navigation-link {
  color: inherit;
  text-decoration: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.catalog-categories-link {
  color: inherit;
  text-decoration: inherit;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.heading {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.subtitle {
  color: #444444;
  font-family: "Rubik", sans-serif;
  line-height: 30px;
 }

.button-more {
  color: inherit;
  text-decoration: inherit;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.specifications {
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  line-height: 30px;
}

.specifications-text {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.catalog-categories-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.tablinks {
  border: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.tablink-current {
  color: #ffe17f;
  background-color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.tabcontent {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;}

.tabcontent-text {
  color: #444444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

  .modal {
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .appointment-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .about-text {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    line-height: 30px;
  }

  .delivery-link {
    color: inherit;
    text-decoration: inherit;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.36px;
  }

  .about {
    color: inherit;
    text-decoration: inherit;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .contacts-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .contacts {
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
  }

  .contacts-subtitle {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .contacts {
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
  }

  .contacts-phone {
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
    text-decoration: underline;
  }

  .contacts-subtitle {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  .email {
    color: inherit;
    text-decoration: inherit;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }
  .subscription {
background-color: #f0f0f0;
  }

  .newsletter-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .newsletter {
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
  }

  .field-email {
    background-color: inherit;
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
  }

  .button-newsletter-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .tick {
    color: #444444;
    font-family: "Rubik", sans-serif;
    line-height: 30px;
  }

  .page-footer {
background-color: #444444;
  }

  .about-text {
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .advantages-link {
    color: #ffffff;
    text-decoration: inherit;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .footer-contacts-address-phone {
    color:  #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: underline;
  }

  .title-inner {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
  }

  .breadcrumbs-link {
    color: inherit;
    text-decoration: inherit;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog-filter {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  .catalog-filter-title {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.36px;
  }

  .control-input {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .catalog-sorting {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  .product-card-title {
    color: inherit;
    text-decoration: inherit;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.36px;
  }

  .product-card-price {
    color: #444444;
    text-align: right;
    font-family: "Rubik", sans-serif;
    line-height: 21px;
  }

  .button-pagination-show-more {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  .pagination-prev-disabled {
    color: #444444;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }

  .pagination-link-current {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .pagination-link {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  .indicator {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }
